.timeLine {
  width: 100%;
  flex: 3;
  margin: 0 10px;
  .container {
    width: 70%;
    margin:0 auto ;
  }
}

// Risponsive Design

@media (min-width: 768px) and (max-width: 1199px) {
  .timeLine {
    flex: 6;
    .container {
      width: 100%;
    }
  }
}

@media (max-width: 1400px) {
  .timeLine {
    .container {
      width: 90%;
    }
  }
}

@media (max-width: 992px) {
  .timeLine {
    .container {
      width: 90% !important;
    }
  }
}

@media (max-width: 676px) {
  .timeLine {
    .container {
      width: 99% !important;
    }
  }
}